@import 'colorDefinitions';

.winner-announcement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(57, 144, 170);
}

.winner-announcement {
    width: 80%;
    height: 80%;
    border: 10px dashed white;
    border-radius: 50px;
    animation: dash 1s infinite linear;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    padding: 10%;
}

.figures-container {
    width: 100%;
    height: 70%;
}

