@import 'colorDefinitions';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
html, body, #root {
  height: 100%;
}
body * {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  position: relative;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: $grey4;
  height: 100%;
}

.game-wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.canvas-container {
  background: $grey2;
  max-width: 100%;
  min-width: 80%;
  height: 100%;
  flex: 3;
  position: relative;
}

.invisible {
  opacity: 0 !important;
  display: none !important;
}

.toggle-button-container {
  height: 100%;
}

.text-input-label {
  margin-right: 2%;
}

.pause-overlay {
  background: rgba($grey1, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  z-index: 2;

  div {
    width: 20%;
    height: 30%;
    background: $grey2;
    border: 2px solid $grey4;
    cursor: pointer;
    transition: .4s;

    &:hover {
      background: $grey1;
      border: 2px solid $blue3;
    }

    object {
      width: 100%;
      height: 100%;
      fill: $grey2;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      fill: $grey2;
      stroke:#efc411;
      cursor: pointer;
    }
  }
}

.on-screen-controls {
  max-width: 10%;
  height: 100%;
  background: $grey4;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.player-controls {
  width: 100%;
  min-height: 10%;
  background: $grey3;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.control-button {
  width: 100%;
  flex: 1;
  background: $grey2;
  border: 2px solid $grey1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
  }
}
