/* definitions */
$grey1: rgb(30, 30, 30);
$grey2: rgb(50, 50, 50);
$grey3: rgb(80, 80, 80);
$grey4: rgb(140, 140, 140);
$grey5: rgb(180, 180, 180);
$blue1: rgb(51, 114, 139);
$blue2: rgb(68, 143, 173);
$blue3: rgb(89, 177, 212);
$yellow1: rgb(221, 188, 81);
$grey1raw: 30, 30, 30;
$grey2raw: 50, 50, 50;
$grey3raw: 80, 80, 80;
$grey4raw: 140, 140, 140;
$grey5raw: 180, 180, 180;
$blue1raw: 51, 114, 139;
$blue2raw: 68, 143, 173;
$blue3raw: 89, 177, 212;
$yellow1raw: 221, 188, 81;
