@import 'colorDefinitions';

.color-picker-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;

    .selected {
        border: 2px solid yellow;
    }
      
    .color-square {
        height: 100%;
        width: 20%;
        padding: 0;
        margin: 0;
    }
    
}
.color-picker-scroll-container {
    position: relative;
    border: 2px solid $grey1;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: $grey2;
    cursor: pointer;
}
.color-picker-scroll-panel {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}
  
.color-theme-panel {
    min-width: 250px;
    width: 250;
    height: 80%;
    margin: 0;
    
    border: 2px solid $grey3;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
}
  
.color-picker-navigation {
    height: 100%;
    width: 6%;
    background: $grey2;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
    border: 2px solid $grey1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $grey1;
        border: 2px solid $blue3;
    }

    img {
        height: 90%;
    }
}
  