#game-container {
    /* background: $grey2);
    max-width: 100%;
    min-width: 80%;
    height: 100%;
    flex: 3; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    .invisible-pause-button {
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 10%;
        right: 10%;
        opacity: 0;
        z-index: 1;
      }      
  }
  