@import 'colorDefinitions';

.game-collection {
    display:block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30%;
    background: $grey1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid black;

    .game-icon {
        height: 90%;

        /* position: relative; */
        border: 2px solid $grey3;
        cursor: pointer;
        position: relative;
        margin-left: 1%;
        margin-right: 1%;

        &.selected {
            border: 2px solid $yellow1;
        }

        &:hover {
            border: 2px solid $blue3;
        }

        > * {
            height: 100%;
            width: auto;
            float: left;
        }
    }


    .game-icon-overlay {
        opacity: .8;
        transition: opacity 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 20px;

        &:hover {
            opacity: 1;
        }
    }

    .inactive-overlay {
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        bottom: 0;
        cursor: initial;
    }
}