@import 'colorDefinitions';

.player-settings {
    width: 42%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: $grey2;
    color: $grey4;
    border: 2px solid $grey1;
    font-size: 23px;

    .settings-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .player-key-settings {
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .player-name-input {
        width: 100%;
    }

    .use-keyboard-toggle {
        width: 100%;
    }
}