@import 'colorDefinitions';

.set-control-input {
    height: 40px;
    min-width: 120px;
    width: 40%;
    border: 2px solid $grey1;
    background: $grey3;
    color: $grey1;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
    transition: .4s;

    &.enabled {
        opacity: 1;
        cursor: pointer;

        &.receiving {
            border: 2px solid $grey5;
            background: $grey2;
            color: $grey5;
        }

        &:hover {
            background: $grey1;
            border: 2px solid $blue3;
            color: $grey5;
        }
    }
}
  