@import 'colorDefinitions';

.settings-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: $grey3;
    text-transform: uppercase;
    overflow-y: auto;
}
  