@import 'colorDefinitions';

.text-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    input {
        width: 70%;
        background: none;
        border: 2px solid $grey3;
        height: 100%;
        transition: .4s;
        color: white;
        font-weight: 600;
        font-size: 90%;

        &:hover {
            border: 2px solid $blue3;
        }
    
        &:focus {
            border: 2px solid $grey4;
        }
    }
}  