@import 'colorDefinitions';

.toggle-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .toggle-button {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 38px;
    cursor: pointer;
    background-color: $grey4;
    border: 2px solid $grey3;
    -webkit-transition: .4s;
    transition: .4s;

    &:hover {
      border: 2px solid $blue3;
      background-color: $grey3;
    }

    &:focus {
      border: 2px solid $blue1;
    }

    .slider {
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.active {
      background-color: $blue2;
      border: 2px solid $blue1;

      &:hover {
        background-color: $blue1;
        border: 2px solid $blue3;
      }

      .slider {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    &.disabled {
      background-color: none;
      border: 2px solid $grey3;
      opacity: .5;
      // .slider {
      //   color: $grey2;
      // }

      &:hover {
        background-color: none;
        border: 2px solid $grey3;
        cursor: default;
      }
    }
  }
}
